services:
  -
    class: TheCodingMachine\PHPStan\Rules\Exceptions\ThrowMustBundlePreviousExceptionRule
    tags:
      - phpstan.rules.rule
  -
    class: TheCodingMachine\PHPStan\Rules\Exceptions\DoNotThrowExceptionBaseClassRule
    tags:
      - phpstan.rules.rule
  -
    class: TheCodingMachine\PHPStan\Rules\Exceptions\EmptyExceptionRule
    tags:
      - phpstan.rules.rule
  -
    class: TheCodingMachine\PHPStan\Rules\Exceptions\MustRethrowRule
    tags:
      - phpstan.rules.rule
  -
    class: TheCodingMachine\PHPStan\Rules\Superglobals\NoSuperglobalsRule
    tags:
      - phpstan.rules.rule
