parameters:
    ignoreErrors:
     - '#Call to an undefined method Roave\\BetterReflection\\Reflection\\ReflectionFunctionAbstract::getDeclaringClass().#'
     - '#Call to an undefined method Roave\\BetterReflection\\Reflection\\Reflection::implementsInterface().#'
includes:
    - phpstan-strict-rules.neon